body {
    background-color: #FFF;
    width: 100%;
    font-family: Arial sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: auto;
}

header {
    padding: 1em;
    margin: 0 auto 1em auto;
}

h1 {
    font-size: 2em;
    text-align: center;
}

nav {
    text-align: right;
    margin-bottom: 0.5em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: red;
}

form {
    text-align: center;
}

input[type="text"] {
    width: 70%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 1.3em;
    border: none;
    border-bottom: gray solid 1px;
}

button[type="submit"] {
    display: inline-block;
    height: 1.5em;
    font-size: 1.5em;
    border: none;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: darkmagenta;
}

main {
    width: 93%;
    margin: 2em auto;
    text-align: center;
}

.loading {
    display: block;
}

section.results {
    display: block;
}

section.bad_response {
    display: block;
}

.book {
    
}
