:root {
    --main-color: #54577c;
    --header-btn-link: #ffffff;
    --header-btn-link-hover: #f2fbd6;
}

/* Animations */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes move-dragon {
    0%   {margin-left:-300px;}
    100% {margin-left: 300px;}
  }

@keyframes move-dragon {
    0%   {margin-left:-300px;}
    100% {margin-left: 300px;}
  }
/* End Animations */

body {
    background-color: #FFF;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: auto;
}

/* Header content, including nav and search form */
header {
    padding: 1em;
    margin: 0 auto 1em auto;
    background-color: var(--main-color);
}

h1 {
    font-size: 2.3em;
    text-align: center;
    color: #fff;
    font-family: Parisienne, serif;
    margin-bottom: 5px;
}

nav {
    text-align: right;
    margin-bottom: 2em;
}

nav a {
    text-decoration: none;
    color: var(--header-btn-link);
    font-size: 0.85em;
}

nav a:hover {
    color: var(--header-btn-link-hover);
}

form {
    text-align: center;
}

input[type="text"] {
    width: 70%;
    box-sizing: border-box;
    padding-top: 7px;
    padding-left: 10px;
    font-size: 1.3em;
    border: none;
    border-bottom: #e7e7e7 solid 1px;
    background-color: #5e6184;
    color: #fff;
}

button[type="submit"] {
    display: inline-block;
    height: 1.4em;
    font-size: 1.5em;
    border: none;
    background-color: var(--header-btn-link);
    color: var(--main-color);
    cursor: pointer;
    vertical-align: top;
}

button[type="submit"]:hover {
    background-color: var(--header-btn-link-hover);
}

/* Main page including results, load screen, etc */
main {
    width: 93%;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

.results p, .loading p {
    color: var(--main-color);
    white-space: pre-line;
}

.loading {
    display: none;
}

.fa-dragon {
    margin-top: 1em;
    font-size: 3em;
    color: #9d6db0;
    -webkit-animation: move-dragon 3s linear 0s infinite;
    animation: move-dragon 3s linear 0s infinite;
}

section.results {
    display: block;
    min-height: 480px;
}

.book {
    display: block;
    max-width: 320px;
    min-height: 350px;
    margin: 1em auto;
    padding: 1.5em;
    border-radius: 20px;
    box-shadow: 1px 2px 4px #d7d7d7;
    font-size: 1em;
}

.book h2 {
    font-size: 1.15em;
    max-height: 2.85em;
    overflow: hidden;
}

.img-cont {
	height: 180px;
	display: table-cell;
	vertical-align: middle;
    width: 300px;
    padding-bottom: 20px;
}

.book img {
    max-height: 180px;
}

.book p:first-of-type::before {
    content: 'Author: ';
    font-weight: bold;
}

.book p:last-of-type::before {
    content: 'Publisher: ';
    font-weight: bold;
}

.book p {
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.9em;
    color: #4e4753;
}

.book a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #4a7b9d;
    color: #fff;
    font-size: 0.9em;
}

.book a:hover {
    background-color: #457395;
}

footer {
    text-align: center;
    font-size: 0.8em;
    background-color: var(--main-color);
    padding: 5px 0;
    color: #fff;
}

/* Basic styles */
.show {
    display: block;
}

.hide {
    display: none;
}

/* Style placeholder text for inputs */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 0.5;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c6c6c6;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c6c6c6;
}


@media only screen and (min-width: 925px) {
    h1 {
        font-size: 3em;
    }

    form {
        width: 60%;
        margin: auto;
    }

    .book {
        display: inline-block;
        position: relative;
        width: 320px;
        height: 420px;
        vertical-align: top;
        margin: 1em 30px;
    }

    .book a {
        position: absolute;
        bottom: 25px;
        left: 50px;
        right: 50px;
    }
}